@use "../abstracts/variables";

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  background-color: variables.$color-almost-black;
  color: variables.$color-almost-black--inverted;
  padding-bottom: 5rem;

  &-item {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  &-heading {
    margin: 4rem;
    font-size: 2.2rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: variables.$font-big-shoulders-display;
  }
  &-text {
    margin-top: 3rem;
    font-size: 1.8rem;
  }
}
.icon-wrapper {
  width: 10rem;
  display: flex;
  justify-content: space-around;
}
