@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.grid {
  margin: 0 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-item-wrapper {
    width: 100%;
  }

  @include breakpoints.media(">=medium") {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 10% 1fr;
    grid-template-areas:
      "your-day one one"
      "two two three"
      "two two come-be"
      "two two come-be";
    gap: 2rem;
  }
}

.text {
  &-heading {
    margin-top: 2rem;
    text-transform: uppercase;
    font-family: variables.$font-big-shoulders-display;
    font-weight: 900;
    font-size: 5rem;
  }

  &-paragraph {
    font-size: 1.6rem;
    padding: 1rem 0;
    padding-right: 1rem;
  }
  &-your-day {
    grid-area: your-day;
  }
  &-come-be {
    grid-area: come-be;
    padding-left: 2rem;
  }
}

.image {
  &-one {
    grid-area: one;
    content: url(../../assets/mobile/image-grid-1.jpg);
  }
  &-two {
    grid-area: two;
    content: url(../../assets/mobile/image-grid-2.jpg);
  }
  &-three {
    grid-area: three;
    content: url(../../assets/mobile/image-grid-3.jpg);
    height: 100%;
  }
}
.inverted {
  background-color: variables.$color-almost-black;
  color: variables.$color-almost-black--inverted;
}
