@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.hero {
  position: relative;

  background-repeat: no-repeat;

  &-invert-filter {
    display: none;
  }

  &-heading {
    text-transform: uppercase;
    font: 900 6.3rem/6rem variables.$font-big-shoulders-display;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoints.media("<medium") {
      &::before {
        content: "";
        background-image: url("../../assets/mobile/image-hero.jpg");
        background-size: cover;
        margin-bottom: 2rem;
        width: 100%;
        aspect-ratio: 1.6;
      }
      width: 100%;
      height: 61rem;
      gap: 3rem;
    }
  }
  &-text {
    font-size: 2rem;
    line-height: 3rem;
  }

  @include breakpoints.media(">=medium") {
    min-height: 72rem;
    background-image: url(../../assets/tablet/image-hero.jpg);

    &-container {
      justify-content: center;
      height: 72rem;
      align-items: flex-end;
    }
    &-heading {
      width: 60%;
    }
    &-text {
      width: 50%;
    }
  }
  @include breakpoints.media(">=large") {
    width: min(125rem, 100%);
    height: 95rem;
    background-image: url(../../assets/desktop/image-hero.jpg);
    background-position: left 45rem center;
    background-size: contain;
    background-repeat: no-repeat;

    &-container {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }

    &-heading {
      font-size: 10rem;
      line-height: 9rem;
      margin-top: 22rem;
      margin-left: 18rem;

      width: max-content;
    }
    &-text {
      margin-top: 28rem;
      width: 30%;
    }

    &-mobile {
      width: 47rem;
      margin-left: 18rem;
      margin-top: 22rem;
    }

    &-invert-filter {
      display: block;
      background-color: rgb(255, 255, 255);
      filter: invert(1);

      position: absolute;
      left: 0;
      top: 0;

      height: 100%;
      width: 45rem;

      overflow: hidden;
    }
  }
}
