@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Outfit", sans-serif;
  font-size: 10px;
}

.hero {
  position: relative;
  background-repeat: no-repeat;
}
.hero-invert-filter {
  display: none;
}
.hero-heading {
  text-transform: uppercase;
  font: 900 6.3rem/6rem "Big Shoulders Display", cursive;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 619px) {
  .hero-container {
    width: 100%;
    height: 61rem;
    gap: 3rem;
  }
  .hero-container::before {
    content: "";
    background-image: url("../../assets/mobile/image-hero.jpg");
    background-size: cover;
    margin-bottom: 2rem;
    width: 100%;
    aspect-ratio: 1.6;
  }
}
.hero-text {
  font-size: 2rem;
  line-height: 3rem;
}
@media (min-width: 620px) {
  .hero {
    min-height: 72rem;
    background-image: url(../../assets/tablet/image-hero.jpg);
  }
  .hero-container {
    justify-content: center;
    height: 72rem;
    align-items: flex-end;
  }
  .hero-heading {
    width: 60%;
  }
  .hero-text {
    width: 50%;
  }
}
@media (min-width: 950px) {
  .hero {
    width: min(125rem, 100%);
    height: 95rem;
    background-image: url(../../assets/desktop/image-hero.jpg);
    background-position: left 45rem center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .hero-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-heading {
    font-size: 10rem;
    line-height: 9rem;
    margin-top: 22rem;
    margin-left: 18rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .hero-text {
    margin-top: 28rem;
    width: 30%;
  }
  .hero-mobile {
    width: 47rem;
    margin-left: 18rem;
    margin-top: 22rem;
  }
  .hero-invert-filter {
    display: block;
    background-color: rgb(255, 255, 255);
    filter: invert(1);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 45rem;
    overflow: hidden;
  }
}

.btn:after, .btn:hover .btn-arrow {
  transition: 300ms ease;
  transition-property: color, background-color, transform, fill;
}

.btn {
  cursor: pointer;
  width: 100%;
  max-width: 25rem;
  height: 7rem;
  color: hsl(0deg, 0%, 92%);
  padding: 0 2rem;
  margin-top: 2rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  background-color: hsl(0deg, 0%, 8%);
}
.btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 0 3rem;
  height: 100%;
  background-color: hsl(24deg, 56%, 63%);
}
.btn:after {
  content: "our location";
  color: hsl(0deg, 0%, 92%);
  width: 100%;
  max-width: 25rem;
  padding: 0 2rem;
  height: 100%;
  transform: translateX(0);
}
.btn:hover:after {
  display: flex;
  align-items: center;
  transform: translateX(-132%);
  background-color: hsl(24deg, 56%, 63%);
}
.btn:hover .btn-arrow {
  background-color: hsl(0deg, 0%, 8%);
}

.grid {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.grid-item-wrapper {
  width: 100%;
}
@media (min-width: 620px) {
  .grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 10% 1fr;
    grid-template-areas: "your-day one one" "two two three" "two two can-be";
    gap: 2rem;
  }
}

.text-heading {
  margin-top: 2rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  font-size: 5rem;
}
.text-paragraph {
  font-size: 1.6rem;
  padding: 1rem 0;
}
.text-your-day {
  grid-area: your-day;
}
.text-can-be {
  grid-area: can-be;
}

.image-one {
  grid-area: one;
  content: url(../../assets/mobile/image-grid-1.jpg);
}
.image-two {
  grid-area: two;
  content: url(../../assets/mobile/image-grid-2.jpg);
}
.image-three {
  grid-area: three;
  content: url(../../assets/mobile/image-grid-3.jpg);
}/*# sourceMappingURL=main.css.map */